<header>
    <div class="container-fluid bg-dark text-white py-3">
        <div class="row">
            <!-- <div class="side-nav-button ">
              <i class="fa-solid fa-bars border border-white p-2 " (click)="navToggle"></i>
            </div> -->
            <button (click)="toggleSidebar()" class="collapse-btn">&#9776;</button>
            <div class="notifiaction d-flex justify-content-end">
                <button type="button" class="btn btn-primary">
                    Notifications <span class="badge bg-danger">4</span>
                </button>
                <div class="search-btn px-3">
                    <input type="text" placeholder="Search..">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
        
       
          
    </div>
</header>