
<button type="button" (click)="toggleTag()" class="collapse-btn ">&#9776;</button>
<div *ngIf="hide" class="side-nav">
   

    <div class="profile-img text-center pt-5">
        <img src="assets/img/profile.jpg"  alt="">
        <h5>John Dannie</h5>
    </div>
    
    <ul class="nav-list list-unstyled px-5 py-5">
        <li class="nav-list-item py-2" >
            <i class="fa-solid fa-house"></i> <span>
            <a routerLinkActive="active" routerLink="./home">Home</a> </span>
        </li>
        <li class="nav-list-item py-2" >
            <i class="fa-solid  fa-address-card"></i> <span>
            <a  routerLinkActive="active" routerLink="./about">About Us</a> </span>
        </li>
        <li class="nav-list-item py-2" >
            <i class="fa-brands fa-servicestack"></i> <span>
            <a routerLinkActive="active" routerLink="./service">Service</a> </span>
        </li>
        <li class="nav-list-item py-2" >
            <i class="fa-solid fa-phone"></i> <span>
            <a  routerLinkActive="active" routerLink="./contact">Contact</a> </span>
        </li>
    </ul>
</div> 

